<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>MOTOCUSTOMBAY</title>
    <meta name="description" content="vendere acquistare moto custom portale per sulla ricerca di vendita ed acquisto delle bellissime moto custom">
    <meta name="author" content="ciaoline">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="static/img/favicon.png">

	<!-- START BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <!-- FONTS -->
    <link rel='stylesheet' id='Roboto-css' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' id='Lato-css' href='http://fonts.googleapis.com/css?family=Lato:100,300,400,400italic,700'>
    <link rel='stylesheet' id='Patua+One-css' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


    <!-- CSS -->
    <link rel='stylesheet' id='global-css' href='static/css/global.css'>
    <link rel='stylesheet' id='structure-css' href='static/css/structure.css'>
    <link rel='stylesheet' id='local-css' href='static/css/launch.css'>
    <link rel='stylesheet' id='custom-css' href='static/css/custom.css'>
</head>
<body class="home page template-blank layout-full-width header-modern sticky-header sticky-white subheader-title-left no-content-padding">
    <!-- Main Content -->
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="section dark " style="padding-top:20px; padding-bottom:0px; background-color:; background-image:url(static/img/home_moto_intro.jpg); background-repeat:no-repeat; background-position:center; background-attachment:fixed; background-size:cover; -webkit-background-size:cover">
                    <div class="section_wrapper clearfix">
                        <div class="items_group clearfix">
                            <!-- One Second (1/2) Column -->
                            <div class="column one-second column_column">
                                <div class="column_attr ">
                                  
                                </div>
                            </div>
                            <!-- One Second (1/2) Column -->
                            <div class="column one-second column_column">
                                <div class="column_attr align_right">
                                   	<h3 style="margin: 0; line-height: 43px; color: #fff;">
                                        Contattaci al:<b> +(39) 3465136082</b>
                                    </h3>
                                </div>
                            </div>
                            <!-- Page devider -->
                            <!-- One full width row-->
                            <div class="column one column_divider">
                                <hr class="no_line" />
                            </div>
                            <!-- One full width row-->
                            <div class="column one column_image">
                                <!-- Animated area -->
                                <div class="animate" data-anim-type="fadeIn">
                                    <div class="image_frame no_link scale-with-grid no_border aligncenter">

                                        <div class="image_wrapper">
                                        <img class="scale-with-grid" src="static/img/Logo_negativo.png" alt="" id="logo" class="img-responsive"  />
                                        	
                                        <p><hr/></p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- Page devider -->
                            <!-- One full width row-->
                            <div class="column one column_divider">
                                <hr class="no_line hrmargin_b_40" />
                            </div>
                            <!-- Page Title-->
                            <!-- One full width row-->
                            <div class="column one column_fancy_heading">
                                <div class="fancy_heading fancy_heading_icon">
                                    <h2 class="title"></h2>
                                </div>
                            </div>
                            <!-- One full width row-->
                            <div class="column one column_column">
                                <div class="column_attr align_center">
                                    <h3 id="sottotitolo">Vendere e Comprare Moto ed Accessori CUSTOM</h3>
                                </div>
                            </div>
                            <!-- One full width row-->
                            <div class="column one column_countdown">
                                <div class="downcount clearfix" data-date="12/28/2017 12:00:00" data-offset="0">
                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_quick_fact">
                                        <div class="quick_fact">
                                            <div data-anim-type="zoomIn" class="animate zoomIn">
                                                <div class="number days">
                                                    30
                                                </div>
                                                <h3 class="title">giorni</h3>
                                                <hr class="hr_narrow">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_quick_fact">
                                        <div class="quick_fact">
                                            <div data-anim-type="zoomIn" class="animate zoomIn">
                                                <div class="number hours">
                                                    00
                                                </div>
                                                <h3 class="title">ora</h3>
                                                <hr class="hr_narrow">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_quick_fact">
                                        <div class="quick_fact">
                                            <div data-anim-type="zoomIn" class="animate zoomIn">
                                                <div class="number minutes">
                                                    00
                                                </div>
                                                <h3 class="title">minuti</h3>
                                                <hr class="hr_narrow">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_quick_fact">
                                        <div class="quick_fact">
                                            <div data-anim-type="zoomIn" class="animate zoomIn">
                                                <div class="number seconds">
                                                    00
                                                </div>
                                                <h3 class="title">secondi</h3>
                                                <hr class="hr_narrow">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- One full width row-->
                            <div class="column one column_column">
                                <div class="column_attr align_center">
                                    <h3 class="hrmargin_0">Sei pronto. Stiamo arrivando!</h3>
                                </div>
                            </div>
                            <!-- One Fourth (1/4) Column -->
                            <div class="column one-fourth column_column">
                                <div class="column_attr "></div>
                            </div>
                            <!-- One Second (1/2) Column -->
                            <div class="column one-second column_column">
                                <div class="column_attr align_center">

                                    <form id="newsletterform" class="newsletter_form">
                                        <input placeholder="Your email address" type="email" id="email_news" name="email_news" size="40" aria-required="true" aria-invalid="false" />
                                        <input type="button" value="Sign up" id="submit" onClick="return check_values_news();">
                                    </form>
                                </div>
                            </div>
						

                            <!-- 3 STEP-->

			            
                            <!-- One full width row-->
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 40px;">

    	<div class="">
    	<div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube"> <div class="embed-responsive embed-responsive-16by9"> <iframe width="560" height="315" src="https://www.youtube.com/embed/A65SBnu3urY" frameborder="0" allowfullscreen></iframe></iframe> </div> </div>
    	</div>
    	<p>&nbsp;</p>
		<div class="col-md-12">
		<div class="col-sm-3"></div>
				<h2 id="sottotitolo"> ENTRA NELLA COMUNITA' </h2>
		<div class="col-sm-3"></div>				
				<p id="sottotitolo2"> Ci rivolgiamo prevalentemente ad operatori del settore  </p>
        	<div class="row">
        		<div class="col-sm-6 col-md-4">
        			<div class="thumbnail">
        				<img alt="100%x200" src="static/img/home_retouch_icon1.png" style="height: 150px; display: block;"> 
        					<div class="caption"> 
        					<p></p>
        						<h3><b>ISCRIVITI GRATIS!</b></h3>
        						<p>Entra nel portale delle <b>MoTOCustomBay</b> dove potrai vendere e comprare!<p>&nbsp;</p> 
        					</div>

        			</div>

        			</div>
        			<duv class="container">
        			<div class="col-sm-6 col-md-4">
        				<div class="thumbnail">
        					<img alt="100%x200" src="static/img/home_retouch_icon2.png" style="height: 150px; display: block;">
        					<div class="caption">
        						<h3><b>NOI VENDIAMO PER TE</b></h3>
        						<p>Utilizza in nostri ECommerce oppure il nostro MarketPlace di  <b>MoTOCustomBay</b><p>&nbsp;</p>
        					</div> 
       					</div>
       				</div>
       				<div class="col-sm-6 col-md-4">
        				<div class="thumbnail">
        					<img alt="100%x200" src="static/img/home_retouch_icon3.png" style="height: 150px; display: block;">
        					<div class="caption">
        						<h3><b>PERCHÈ SCEGLIERCI</b></h3>
        						<p>Siamo specializzati nella realizzazione e commercializzazione dei prodotti di <b>MoTOCustomBay</b><p>&nbsp;</p>
        					</div> 
       					</div>
       				</div>

       				
       				<div class="col-sm-6 col-md-4">
        				<div class="thumbnail">
        					<img alt="100%x200" src="static/img/motocustombay_locandina_portale.jpg" >
        					<div class="caption">
        						<h3><b>ECOMMERCE</b></h3>
        						<p>Riuscire a vendere attraverso una piattaforma messa a disposizione dal Team di <b>MoTOCustomBay</b><p>&nbsp;</p>
        					</div> 
       					</div>
       				</div>
       				<div class="col-sm-6 col-md-4">
        				<div class="thumbnail">
        					<img alt="100%x200" src="static/img/motocustombay_locandina_video.jpg">
        					<div class="caption">
        						<h3><b>AUMENTA LE VENDITE </b></h3>
        						<p>Un video vale molto più di 1000 parole nel vendere <b>MoTOCustomBay</b><p>&nbsp;</p>
        					</div> 
       					</div>
       				</div>
       				<div class="col-sm-6 col-md-4">
        				<div class="thumbnail">
        					<img alt="100%x200" src="static/img/motocustombay_locandina.jpg">
        					<div class="caption">
        						<h3><b>PUBBLICIZZATI CON NOI</b></h3>
        						<p>Trasforma la vendita delle tue moto in Video <b>MoTOCustomBay</b><p>&nbsp;</p>
        					</div> 
       					</div>
       				</div>
        					
        	</div>
        </div>
 	</div>
	<div class="column one column_column">
	    <div class="column_attr align_center">
	        © 2016 Theme - Ciaoline.com - HTML by <a href="http://www.ciaoline.com" target="_blank">CiaolineThemes</a>
	    </div>
	</div>

	  <!-- JS -->
    <script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="static/js/mfn.menu.js"></script>
    <script type="text/javascript" src="static/js/jquery.plugins.js"></script>
    <script type="text/javascript" src="static/js/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="static/js/animations/animations.js"></script>
</body>
</html>