<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="&quot;Gli appassionati delle moto custom, il luogo giusto per trovare e vendere moto ed accessori custom"/>
<!--<meta name="robots" content="noodp"/>-->
<meta name="keywords" content="moto custom, moto, custom, kustom,passione, appassionato, cuore passionale, avere la passione, passione per le moto custom "/>
<!--<link rel="canonical" href="http://aforisticamente.com/2015/01/21/frasi-citazioni-e-aforismi-sulla-passione/" />-->
<!--<link rel="publisher" href="https://plus.google.com/102721682426160511626"/> -->
<meta property="og:locale" content="it_IT" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Gli appassionati delle moto custom, il luogo giusto per trovare e vendere moto ed accessori custom" />
<meta property="og:description" content="moto custom, moto, custom, kustom,passione, appassionato, cuore passionale, avere la passione, passione per le moto custom" />
<meta property="og:url" content="http://motocustombay.com" />
<meta property="article:publisher" content="https://www.facebook.com/motocustombayitalia" />
<meta property="article:tag" content="Passione" />
<meta property="article:tag" content="Moto" />
<meta property="article:tag" content="Custom" />
<meta property="article:section" content="Moto Custom" />
<meta property="og:image" content="http://motocustombay.com/static/img/MOTOCUSTOMBAY.COM.png" />
<meta name="twitter:card" content="custom moto" />
<meta name="twitter:description" content="&quot;Gli appassionati sollevano il mondo, e gli scettici lo lasciano ricadere&quot;. MotoCustomBay Italia ." />
<meta name="twitter:title" content="Frasi, citazioni e aforismi sulla passione - AFORISTICAMENTE" />
<meta name="twitter:site" content="@motocustombayitalia" />
<meta name="twitter:image" content="http://motocustombay.com/MOTOCUSTOMBAY.COM.png" />
<meta name="twitter:creator" content="@motocustombayitalia" />
    <link rel="shortcut icon" href="static/ico/favicon.png">

    <title>MotoCustomBay.com</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom bootstrap styles -->
    <link href="static/css/overwrite.css" rel="stylesheet">

	<!-- Font -->
	<link href="static/fonts/open-sans/stylesheet.css" rel="stylesheet">
	
	<!-- Font icons -->
	<link href="static/css/font-awesome.css" rel="stylesheet">
    <link href="static/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
	<link href="static/fonts/pe-icon-7-stroke/css/helper.css" rel="stylesheet">
	
	<!-- Animate css -->
    <link href="static/css/animate.css" rel="stylesheet">	
	
	<!-- prettyPhoto -->	
	<link href="static/css/prettyPhoto.css" rel="stylesheet" />
	
    <!-- flexslider -->	
	<link href="static/css/flexslider.css" rel="stylesheet">

	<!-- Owl carousel -->
    <link href="static/css/owl.carousel.css" rel="stylesheet">
    <link href="static/css/owl.theme.css" rel="stylesheet">
    <link href="static/css/owl.transitions.css" rel="stylesheet">
	
	<!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">

	<!-- Theme skin -->
	<link href="static/skins/default.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">


<script src="//load.sumome.com/" data-sumo-site-id="e88d4c04df57374a12725c556e691642ae42910dbe43c732aa885d207bd3227d" async="async"></script>

  </head>

  <body>
	<!-- Start preloading -->	
	<div id="loading" class="loading-invisible">
		<i class="pe-7s-refresh pe-spin pe-3x pe-va"></i><br />
		<p>Please wait...</p>
	</div>
	<!-- End preloading -->

	<!-- Start header -->
	<header>
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img src="static/img/logo.png" alt="" /></a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a id="GoToHome" href="#home" class="selected">Home</a></li>
						<li><a id="GoToFeatures" href="#features">Vantaggi</a></li>	
						<li><a id="GoToDesc" href="#description">Descrizione</a></li>
						<li><a id="GoToGallery" href="#screenshot">Screenshot</a></li>
					<!--	<li><a id="GoToPricing" href="#pricing">Pricing</a></li>
					<!--	<li><a id="GoToTestimoni" href="#testimoni">Testimoni</a></li> -->
				<!--		<li><a id="GoToContact" href="#contact">Contact</a></li> -->							
					</ul>
				<!--	<div class="navbar-right">
						<a href="signin.html" class="btn btn-bordered">Sign in</a>
						<a href="signup.html" class="btn btn-primary">Sign up</a>
					</div>	-->
				</div><!--/.nav-collapse -->
			</div>
		</div>	
	</header>
	<!-- End header -->
	
	<!-- End home -->
	<section id="home" class="home-wrapper parallax image-bg">
		<div class="home-contain">
			<div class="container">
				<div class="row text-center wow fadeInUp" data-wow-delay="0.4s">
					<div class="col-md-10 col-md-offset-1">
						<h3>Abbiamo creato un portale<span> per vendere le moto custom</span></h3>
						<p class="btn-inline">
							<!--<a href="http://www.youtube.com/watch?v=lZr5ZsFlZsM&amp;feature=share&amp;list=ALzxNYRMVOCRi5wLzuGUE7XQpqhCfYTwzI" data-pretty="prettyPhoto" class="btn btn-bordered btn-lg zoom">Guarda il video</a>
							<a href="#" class="btn btn-primary btn-lg">Registrati Gratis</a>-->
						</p>
						<div class="home-slider">
							<div class="slider-wrapper">
								<div class="imac-device">
									<ul class="slides">
										<li>
											<div class="video-container">
												<div class="youTubeEmbed">
													<iframe  src="https://www.youtube.com/embed/A65SBnu3urY" frameborder="0" allowfullscreen></iframe>
												</div>
											</div>
										</li>
										<!--<li>
											<a href="#"><img src="static/img/slider/img2.png" alt="" /></a>
										</li>
										<li>
											<a href="#"><img src="static/img/slider/img3.png" alt="" /></a>
										</li>
										<li>
											<a href="#"><img src="static/img/slider/img4.png" alt="" /></a>
										</li> -->
									</ul>
								</div>
							</div>
							<img src="static/img/imac.png" class="img-responsive" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End home -->
	
	<div class="clearfix"></div>
	
	<!-- Start features -->
	<section id="features" class="contain desc-wrapp gray-bg">
		<div class="container">
			<div class="row text-center wow fadeInUp" data-wow-delay="0.4s">
				<div class="col-md-8 col-md-offset-2">
					<h3 class="heading"><span>Vantaggi</span>Ecco alcuni dei benefici</h3>
				</div>
			</div>
			<div class="row wow fadeInDown" data-wow-delay="0.4s">
				<div class="col-md-4 feature-box">
					<i class="pe-7s-phone pe-feature"></i>
					<h5>Design Responsive</h5>
					<p id="entra">
						Sapevi che il <b>70%</b> delle persone incomincia la sua ricerca dal mobile.
					</p>
					<!--<a href="#">Learn more</a>-->
				</div>
				<div class="col-md-4 feature-box">
					<i class="pe-7s-edit pe-feature"></i>
					<h5>Veicoliamo le Vendite</h5>
					<p id="entra">
						Veicoliamo le vendite delle MOTO CUSTOM attraverso <b>video professionali</b> 
					</p>
					<!--<a href="#">Learn more</a>-->
				</div>
				<div class="col-md-4 feature-box">
					<i class="pe-7s-graph1 pe-feature"></i>
					<h5>Moto Traffic</h5>
					<p id="entra">
						Tu scegli i prodotti che desideri promuovere e noi spingiamo i potenziali acquirenti sul <b>tuo</b> negozio.
					</p>
					<!--<a href="#">Learn more</a> -->
				</div>
				<div class="col-md-4 feature-box">
					<i class="pe-7s-paper-plane pe-feature"></i>
					<h5>Moto Facebook</h5>
					<p id="entra">
						Creare un negozio su Facebook per rendere la tua vendita più <b>social</b>
					</p>
					<!--<a href="#">Learn more</a> -->
				</div>
				<div class="col-md-4 feature-box">
					<i class="pe-7s-share pe-feature"></i>
					<h5>Moto Banner</h5>
					<p id="entra">
						Creiamo banner pubblicitari per il vostro <b>sito</b>, social network, <b>e-mail</b> e campagne a pagamento.
					</p>
					<!--<a href="#">Learn more</a>-->
				</div>
				<div class="col-md-4 feature-box">
					<i class="pe-7s-paperclip pe-feature"></i>
					<h5>Moto YouTube Video</h5>
					<p id="entra">
						Un immagine vale piu' di mille parole, e perchè non fare dei <b>Video </b>allora!
					</p>
				<!--	<a href="#">Learn more</a> -->
				</div>
			</div>
		</div>
	</section>
	<!-- End features -->
	
	<div class="clearfix"></div>
	
	<!-- Start description -->
	<section id="description" class="contain">
		<div class="container">
			<div class="row">
				<div class="col-md-7 wow fadeInLeft" data-wow-delay="0.4s">
					<img src="static/img/device.png" class="img-responsive" alt="" />
				</div>
				<div class="col-md-5 margintop40 wow fadeInRight" data-wow-delay="0.4s">
					<div class="accordion clearfix" id="accordion1">
						<div class="accordion-group">
							<div class="accordion-heading">										
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
									<i class="pe-7s-angle-down"></i> Entra
								</a>
							</div>
							<div id="collapse1" class="accordion-body collapse in">
								<div class="accordion-inner">
									<p id="entra">
										Avrai incluso nell'offerta un sito di <b>E-Commerce</b> per la vendita dei tuoi prodotti con un <b>template</b> tua scelta  
									</p>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
									<i class="pe-7s-angle-down"></i> Inserisci
								</a>
							</div>
							<div id="collapse2" class="accordion-body collapse">
								<div class="accordion-inner">
									<p id="entra">
										Puoi inserire centinaia di prodotti della tua attività, mentre noi ci occupiamo di inserire all'interno del nostro portale <b>MOTOCUSTOMBAY</b> i tuoi prodotti
									</p>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
									<i class="pe-7s-angle-down"></i> Pubblicizza
								</a>
							</div>
							<div id="collapse3" class="accordion-body collapse">
								<div class="accordion-inner">
									<p id="entra">
										Mettiamo in contatto clienti e fornitori ottimizzando la pubblicità sui vari <b>social network</b> e marketplace
									</p>
								</div>
							</div>
						</div>								
					</div>					
				</div>
			</div>
		</div>
	</section>
	<!-- End description -->
	
	<div class="clearfix"></div>
		
	<!-- Start counter -->
	<section id="counter-wrapper">
		<div class="counter-contain">
			<div class="container">
				<div class="row text-center appear stats wow fadeInUp" data-wow-delay="0.4s">
					<div class="col-md-12">
						<h3>I numeri sono dalla Nostra parte</h3>
						<p>ogni mese in Italia</p>
					</div>
				</div>
				<div class="row text-center appear stats wow fadeInDown" data-wow-delay="0.4s">
					<div class="col-md-2 col-md-offset-2">
						<span id="counter-download" class="counter-number">9000</span>
						<span class="counter-text">Immatricolazioni</span>
					</div>
					<div class="col-md-2">
						<span id="counter-view" class="counter-number">7000</span>
						<span class="counter-text">Vendite</span>
					</div>
					<div class="col-md-2">
						<span id="counter-android" class="counter-number">900</span>
						<span class="counter-text">Scooter</span>
					</div>
					<div class="col-md-2">
						<span id="counter-ios" class="counter-number">700</span>
						<span class="counter-text">Cinquantini</span>
					</div>					
				</div>
			</div>
		</div>
	</section>
	<!-- End counter -->
	
	<div class="clearfix"></div>
	
	<!-- Start screenshot -->
	<section id="screenshot" class="contain">
		<div class="container">
			<div class="row text-center wow fadeInUp" data-wow-delay="0.4s">
				<div class="col-md-10 col-md-offset-1 wow fadeInUp" data-wow-delay="0.4s">
					<h3 class="heading"><span>ECOMMERCE</span>alcuni dei nostri prodotti</h3>
				</div>
			</div>
		</div>
		<div id="screenshot-contain" class="wow fadeInDown" data-wow-delay="0.4s">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-10 col-md-offset-1">
						<div class="screenshot-slider">
							<div class="screenshot-wrapper">
								<div class="flexslider text-center">
									<ul class="slides">
										<li>
											<a href="#"><img src="static/img/screenshot/img1.png" alt="" /></a>
										</li>
										<li>
											<a href="#"><img src="static/img/screenshot/img2.png" alt="" /></a>
										</li>
										<li>
											<a href="#"><img src="static/img/screenshot/img3.png" alt="" /></a>
										</li>
										<!--<li>
											<a href="#"><img src="static/img/screenshot/img4.png" alt="" /></a>
										</li>
										<li>
											<a href="#"><img src="static/img/screenshot/img5.png" alt="" /></a>
										</li> -->
									</ul>
								</div>
							</div>
							<img src="static/img/browser.png" class="img-responsive" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End screenshot -->
	
	<div class="clearfix"></div>
		
	<!-- Start pricing 
	<section id="pricing" class="contain gray-bg">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-10 col-md-offset-1 wow fadeInUp" data-wow-delay="0.4s">
					<h3 class="heading"><span>Pricing table</span>Choose download package</h3>
				</div>
			</div>
			<div class="row wow fadeInDown" data-wow-delay="0.4s">
				<div class="col-md-4">
					<div class="pricing-wrapper">
						<div class="pricing-head">
							<span class="pricing-price">$0</span>
							<h4>Free</h4>
							<p>Free trial 30 days</p>
						</div>
						<ul>
							<li><strong>30 day</strong> trail</li>
							<li><strong>No</strong> support</li>
							<li><strong>No</strong> update</li>
							<li><strong>1 user</strong> accses</li>
							<li><strong>32 MB</strong> bandwidth</li>
							<li><strong>1 user</strong> only</li>
							<li><strong>No</strong> security</li>
						</ul>
						<div class="pricing-bottom">
							<a href="#" class="btn btn-default btn-bordered btn-lg">Get it now</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="pricing-wrapper">
						<div class="pricing-head popular">
							<span class="pricing-price">$17</span>
							<h4>Personal</h4>
							<p>Best for personal</p>
						</div>
						<ul>
							<li><strong>Unlimited</strong> use</li>
							<li><strong>Free</strong> support</li>
							<li><strong>Free</strong> update</li>
							<li><strong>Up to 10 user</strong> accses</li>
							<li><strong>10 GB</strong> bandwidth</li>
							<li><strong>Up to 10 user</strong> only</li>
							<li><strong>security</strong> suite</li>
						</ul>
						<div class="pricing-bottom">
							<a href="#" class="btn btn-primary btn-lg">Get it now</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="pricing-wrapper">
						<div class="pricing-head">
							<span class="pricing-price">$35</span>
							<h4>Business</h4>
							<p>Best for corporate</p>
						</div>
						<ul>
							<li><strong>Unlimited</strong> use</li>
							<li><strong>Free</strong> support</li>
							<li><strong>Free</strong> update</li>
							<li><strong>Up to 40 user</strong> accses</li>
							<li><strong>100 GB</strong> bandwidth</li>
							<li><strong>Up to 100 user</strong> only</li>
							<li><strong>security</strong> suite</li>
						</ul>
						<div class="pricing-bottom">
							<a href="#" class="btn btn-default btn-bordered btn-lg">Get it now</a>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</section>
	<!-- End pricing -->
	
	<div class="clearfix"></div>
	
	<!-- Start download -->	
	<section id="download">
		<div class="download-wrapper">
			<div class="container">
				<div class="row wow fadeInUp" data-wow-delay="0.4s">
					<div class="col-md-8 col-md-offset-2">
						<h3>Vuoi saperne di piu'</h3>
						<p>non esitare a contattarci</p>
						 <form class="col-lg-12" action="//sabinomassaro.us3.list-manage.com/subscribe/post?u=a1d88e25df3c926755e33685e&amp;id=0175cd08b9" method="post" target="_blank" novalidate>
            <fieldset class="subscribe-form">
             	 <input type="email" name="EMAIL" class="subscribe" id="mce-EMAIL" title="Enter you email." placeholder="Enter your email address" required>
              	<input  type="submit" class="subscribe-button" value="Iscriviti"  name="subscribe" id="mc-embedded-subscribe" type="button"/>
              </fieldset>
          </form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End download -->
	
	<div class="clearfix"></div>
	
	<!-- Start testimoni 
	<section id="testimoni" class="contain">
		<div class="container">
			<div class="row text-center wow fadeInUp" data-wow-delay="0.4s">
				<div class="col-md-12">
					<h3 class="heading"><span>Testimonials</span>People said about meminz</h3>
				</div>
			</div>
		</div>
		<div id="owl-testimoni" class="owl-carousel wow fadeInDown" data-wow-delay="0.4s">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="testimonial">
							<blockquote>
							Sed modus munere menandri ius vero qualisque concludaturque ne vide fastidii incorrupte.
							</blockquote>
							<span class="testimoni-sparator"></span>
						</div>
						<div class="clearfix"></div>
						<div class="testimoni-author">
							<div class="author-info">
								<h5>Alfatih</h5>
								<p><a href="#">99webpage owner</a></p>
							</div>
							<img src="img/testimoni/avatar1.png" alt="" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="testimonial">
							<blockquote>
							Duo facer solet deleniti an, nec quis oportere efficiendi an regione principes.
							</blockquote>
							<span class="testimoni-sparator"></span>
						</div>
						<div class="clearfix"></div>
						<div class="testimoni-author">
							<div class="author-info">
								<h5>Ence iif</h5>
								<p><a href="#">99webpage founder</a></p>
							</div>
							<img src="img/testimoni/avatar2.png" alt="" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="testimonial">
							<blockquote>
							Choro moderatius consequuntur sit te, has veri salutatus te abore graecis aliquando.
							</blockquote>
							<span class="testimoni-sparator"></span>
						</div>
						<div class="clearfix"></div>
						<div class="testimoni-author">
							<div class="author-info">
								<h5>Rinna N</h5>
								<p><a href="#">99webpage manager</a></p>
							</div>
							<img src="img/testimoni/avatar3.png" alt="" />
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="testimonial">
							<blockquote>
							An adhuc consequat mel, usu in utroque dolorem. Nam diceret aliquam singulis no veri.
							</blockquote>
							<span class="testimoni-sparator"></span>
						</div>
						<div class="clearfix"></div>
						<div class="testimoni-author">
							<div class="author-info">
								<h5>Kang abin</h5>
								<p><a href="#">99webpage designer</a></p>
							</div>
							<img src="img/testimoni/avatar4.png" alt="" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="testimonial">
							<blockquote>
							Minimum albucius detraxit qui eu, veniam equidem eum in, constituam referrentur ius et.
							</blockquote>
							<span class="testimoni-sparator"></span>
						</div>
						<div class="clearfix"></div>
						<div class="testimoni-author">
							<div class="author-info">
								<h5>Mang idi</h5>
								<p><a href="#">99webpage marketing</a></p>
							</div>
							<img src="img/testimoni/avatar5.png" alt="" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="testimonial">
							<blockquote>
							 Aperiri facilis in pro, vis idque harum ex, ex vocent utroque similique vi intellegebat eam.
							</blockquote>
							<span class="testimoni-sparator"></span>
						</div>
						<div class="clearfix"></div>
						<div class="testimoni-author">
							<div class="author-info">
								<h5>Ceu onah</h5>
								<p><a href="#">99webpage co-marketing</a></p>
							</div>
							<img src="img/testimoni/avatar6.png" alt="" />
						</div>
					</div>
				</div>
			</div>		
		</div>
	</section>
	<!-- End testimoni -->
	
	<div class="clearfix"></div>
	
	<!-- Start client -->
	<section id="client" class="contain gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow fadeInUp" data-wow-delay="0.4s">
					<ul class="client-list">
						<li>
							<ul>
								<li>									
									<a href="#" class="client-link">
										<span class="logo-hover"><img src="static/img/client/logo1-hover.png" alt="" /></span>
										<img src="static/img/client/logo1.png" class="client-logo" alt="" />
									</a>
								</li>
								<li>									
									<a href="#" class="client-link">
										<span class="logo-hover"><img src="static/img/client/logo2-hover.png" alt="" /></span>
										<img src="static/img/client/logo2.png" class="client-logo" alt="" />
									</a>
								</li>
								<li>									
									<a href="#" class="client-link">
										<span class="logo-hover"><img src="static/img/client/logo3-hover.png" alt="" /></span>
										<img src="static/img/client/logo3.png" class="client-logo" alt="" />
									</a>
								</li>
								<li>									
									<a href="#" class="client-link">
										<span class="logo-hover"><img src="static/img/client/logo4-hover.png" alt="" /></span>
										<img src="static/img/client/logo4.png" class="client-logo" alt="" />
									</a>
								</li>				
								<li class="last">									
									<a href="#" class="client-link">
										<span class="logo-hover"><img src="static/img/client/logo5-hover.png" alt="" /></span>
										<img src="static/img/client/logo5.png" class="client-logo" alt="" />
									</a>
								</li>							
							</ul>
						</li>
						<li class="bottom-list">
							<ul>
								<li>									
									<a href="#" class="client-link">
										<span class="logo-hover"><img src="static/img/client/logo6-hover.png" alt="" /></span>
										<img src="static/img/client/logo6.png" class="client-logo" alt="" />
									</a>
								</li>
								<li>									
									<a href="#" class="client-link">
										<span class="logo-hover"><img src="static/img/client/logo7-hover.png" alt="" /></span>
										<img src="static/img/client/logo7.png" class="client-logo" alt="" />
									</a>
								</li>
								<li>									
									<a href="#" class="client-link">
										<span class="logo-hover"><img src="static/img/client/logo8-hover.png" alt="" /></span>
										<img src="static/img/client/logo8.png" class="client-logo" alt="" />
									</a>
								</li>
								<li>									
									<a href="#" class="client-link">
										<span class="logo-hover"><img src="static/img/client/logo9-hover.png" alt="" /></span>
										<img src="static/img/client/logo9.png" class="client-logo" alt="" />
									</a>
								</li>			
								<li class="last">									
									<a href="#" class="client-link">
										<span class="logo-hover"><img src="static/img/client/logo10-hover.png" alt="" /></span>
										<img src="static/img/client/logo10.png" class="client-logo" alt="" />
									</a>
								</li>						
							</ul>
						</li>						
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- End client -->
	
	<div class="clearfix"></div>
		
	<!-- Start contact 
	<section id="contact">
		<div class="contact-contain">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-12 wow fadeInUp" data-wow-delay="0.4s">
						<h3 class="heading"><span>Contact</span>Get in touch with us</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1 wow fadeInDown" data-wow-delay="0.4s">
						<form id="contactform" action="contact/contact.php" method="post" class="validateform" name="leaveContact">
							<div class="clearfix"></div>
							<div id="sendmessage">
								<div class="alert alert-info marginbot35">
									<button type="button" class="close" data-dismiss="alert">&times;</button>
									Your message has been sent. Thank you!
								</div>							
							</div>								
							<ul class="listForm">
								<li>
									<i class="pe-7s-users"></i>
									<input class="form-control input-name" type="text" name="name" data-rule="required" data-msg="Required field" placeholder="Enter your full name" />
									<div class="validation"></div>
								</li>
								<li>
									<i class="pe-7s-mail"></i>
									<input class="form-control input-email" type="text" name="email" data-rule="email" data-msg="Please enter a valid email" placeholder="Enter your email address" />	
									<div class="validation"></div>
								</li>
								<li class="push">
									<i class="pe-7s-paper-plane"></i>
									<textarea class="form-control input-message" rows="6" name="message" data-rule="required" data-msg="Please write something for us" placeholder="Write something for us"></textarea>
									<div class="validation"></div>
								</li>
								<li class="push text-center">
									<input type="submit" value="Send message" class="btn btn-primary btn-lg" name="Submit" />
								</li>
							</ul>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End contact -->
	
	<div class="clearfix"></div>
		
	<!-- Start footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="social-network">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-skype"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
					</div>
					 <p>2016 Copyright &copy; <a href="http://ciaoline.com/">CiaoLine.it</a> All rights Reserved.</p>
				</div>
			</div>
		</div>	
	</footer>
	<!-- End footer -->	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery-easing-1.3.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
	<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57b847d71ecf665e255ed688/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
	<script type="text/javascript">
		  document.getElementById("loading").className = "loading-visible";
		  var hideDiv = function(){document.getElementById("loading").className = "loading-invisible";};
		  var oldLoad = window.onload;
		  var newLoad = oldLoad ? function(){hideDiv.call(this);oldLoad.call(this);} : hideDiv;
		  window.onload = newLoad;
	</script>
	
	<!-- Fixed navigation -->
	<script src="static/js/navigation/waypoints.min.js"></script>
	<script src="static/js/navigation/jquery.smooth-scroll.js"></script>		
	<script src="static/js/navigation/navbar.js"></script>	
	
	<!-- Wow -->
	<script src="static/js/wow/wow.min.js"></script>
	<script src="static/js/wow/setting.js"></script>
	
	<!-- Parallax -->
	<script src="static/js/parallax/jquery.parallax-1.1.3.js"></script>	
	<script src="static/js/parallax/setting.js"></script>
	
	<!-- flexslider -->
	<script src="static/js/flexslider/jquery.flexslider.js"></script>
	<script src="static/js/flexslider/setting.js"></script>
	
	<!-- prettyPhoto -->
	<script src="static/js/prettyPhoto/jquery.prettyPhoto.js"></script>	
	<script src="static/js/prettyPhoto/setting.js"></script>
	
	<!-- counters -->
	<script src="static/js/counters/jquery.appear.js"></script>
	<script src="static/js/counters/stellar.js"></script>
	<script src="static/js/counters/setting.js"></script>

	<!-- Owl carousel -->
	<script src="static/js/owlcarousel/owl.carousel.js"></script>
    <script src="static/js/owlcarousel/setting.js"></script>
	
	<!-- Totop -->
	<script src="static/js/totop/jquery.ui.totop.js"></script>	
	<script src="static/js/totop/setting.js"></script>

	<!-- youtube player -->
	<script src="static/js/youtube-player/jquery.swfobject.1-1-1.min.js"></script>
	<script src="static/js/youtube-player/youTubeEmbed-jquery.js"></script>
	<script src="static/js/youtube-player/setting.js"></script>
		
	<!-- Contact validation -->
	<script src="static/js/validation.js"></script>
		
	<!-- Customn javascript -->
	<script src="static/js/custom.js"></script>

  </body>
</html>